body {
  background-color: white;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  width:80px;
  height: 10px;
  color: #d28c0e;
  background-color: #d28c0e;
  display: block;
  text-align: left;
  margin-left: 20px;
  position: absolute;
}


#title {
  color: #07244f;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-top: 5px;
  font-size: 32px;
  margin-bottom: 40px;
  margin-left: 20px;
}

#title a {
  color: #07244f;
}

.wrap {
  width: 100%;
  overflow: auto;
  height: 100%;
  display: block;
}

.header {
  float:left;
  width: 20%;
  position: fixed;
}

a {
  text-decoration: none;
  color: #07244f;
}

ul.nav {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 100px;
}

li.nav-item {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 20px;
  margin-left: 20px;
  text-transform: lowercase;
}

li.nav-item a:hover {
  color: #d28c0e;
}

#activity-items {
  width: 80%;
  margin: 10px auto;
  position: relative;
  float: right;
}

.activity {
  height: 400px;
  text-align: center;
  background-color: #FFE1D8;
  opacity: 0.5;
  width: 350px;
  margin-top: 24px;
  margin-right: 24px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.activity:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  /*background-color: #C8AD55;*/
  transform: scale(1.02);
}

.activity-pic {
  width:320px;
  height:210px;
  margin-bottom: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.color-block {
  width: 300px;
  color: red;
  height: 100px;
}

.activity-title {
  position: relative;
}

.hide {
  display: none
}

/* entire container, keeps perspective */
.activity {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.activity:hover .card, .activity.hover .card {
		transform: rotateY(180deg);
	}

.activity, .front, .back {
	width: 320px;
	height: 350px;
}

/* flip speed goes here */
.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.activity-text {
  text-align: center;
  color: #07244f;
  width: 100%;
}

.activity-text h1 {
  text-align: left;
  margin-left: 20px;
  color: #07244f;
  text-transform: uppercase;
  margin-bottom: 0px;
  }

.activity-text h3 {
  text-align: left;
  color: #07244f;
  margin-left: 20px;
}

.activity-happyhourtext {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.activity-happyhour {
  margin-top: 0px;
}

.activity-outdoor {
  padding-top: 130px;
}

.activity-text a {
  bottom: 10;
  text-align: center;
  font-size: 18px;
  color: #d28c0e;
}

.activity-mealtime {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.activity-type {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#map {
  height: 100%;
}

.holder {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 20px;
}

.my-sizer-element {
  width: 0.2%;
}


@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

    .header {
      width: 100%;
      position: fixed;
      top: 0;
      overflow: hidden;
      background-color: white;
      z-index:200;
      text-align: center;
    }

    hr {
      visibility: hidden;
    }

    #title {
      color: black;
      font-family: 'Oswald', sans-serif;
      text-align: center;
      padding-top: 5px;
      font-size: 55px;
      margin-left: 20px;
      margin-bottom: 0px;
      padding-bottom: 0px;

    }

    .nav-for-media {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    ul.nav {
      list-style-type: none;
      text-align: center;
      width: 100%;
      margin-top: 20px;
    }

    li.nav-item {
      font-size: 24px;
      font-family: 'Playfair Display', serif;
      padding-top: 0px;
      padding: 20px;
      display: inline;
      text-align: center;
    }

    #activity-items {
      width: 100%;
      margin-top: 220px;
      z-index:100;
      text-align: center;
      display:inline-block;
      float: none;
      margin: 155;
    }

    #container {
      text-align: center;
      display:inline-block;
      margin-left: 50px;
    }

    .activity {
      height: 400px;
      text-align: center;
      background-color: #FFCFB7;
      width: 320px;
      margin-top: 24px;
      margin-right: 24px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: all 0.2s ease-in-out;
      display: inline-block;
    }

    .activity-pic {
      width:320px;
      height:210px;
      max-width: 100%;
      max-height: 100%;
    }

}
